<aside class="read-next">
    {{#foreach posts}}
        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="8"}}&hellip;</p>
            </section>
        </a>
    {{/foreach}}

    {{pagination}}

</aside>