{{#author}}
    <section class="main-header-blur">
        <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        </header>
    </section>


    <section class="author-profile-image">
        <!--{{#if image}}-->
            <figure class="author-image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}</span></div>
            </figure>
        <!--{{/if}}-->
        <h1>{{name}}</h1>
    </section>
    <section class="author-profile inner">
        <section class="post-content">
            <p>23, Portuguese, <a href="http://github.com/tiagojsalmeida" target="_blank">Geek</a>, <a href="https://www.instagram.com/explore/tags/whathaveicooked/" target="_blank">Foodie</a>, <a href="https://www.instagram.com/explore/tags/handstandnomad/" target="_blank">Handstand poser</a>, <a href="https://www.instagram.com/p/4AELU1G6bq/" target="_blank">Muscle Up bird</a>, Music lover and Adventure seeker.</p>

            <p>Been accepted to <a href="http://www.remoteyear.com" target="_blank">Remote Year</a> and will live one month in 12 different cities among 74 other inspiring people. <br>
                We will work remotely while visiting South America, Europe, and Asia and with many adventures to come.</p>

            <p>Packing my life inside a carry-on backpack with a laptop, few clothes and some gadgets.</p>

            <p>Follow me around the world to read my stories, adventures and some piece of advise.</p>
        </section>
    </section>
{{/author}}

<main class="content" role="main">
    {{> "loop"}}
</main>
