{{!< default}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="logo">
        <img src="{{asset "img/logo-white.png"}}" alt="{{@blog.title}}" />
    </div>
</header>

<main id="content" class="content" role="main">
    <article class="read-next map-tags">
        <a class="read-next-story map-tag" href="tag/germany" style="background-image: url('{{asset "img/Germany.png"}}')">
            <div class="read-next-title">
                Germany
                <div class="read-next-countdown" data-countdown="Jan 04 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag"  href="tag/morocco" style="background-image: url('{{asset "img/Morocco.png"}}')">
            <div class="read-next-title">
                Morroco
                <div class="read-next-countdown" data-countdown="Jan 28 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" href="tag/brazil" style="background-image: url('{{asset "img/Brazil.png"}}')">
            <div class="read-next-title">
                Brazil
                <div class="read-next-countdown" data-countdown="Jan 29 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" style="background-image: url('{{asset "img/Uruguay.png"}}')">
            <div class="read-next-title">
                Uruguay
                <div class="read-next-countdown" data-countdown="Feb 01 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" style="background-image: url('{{asset "img/Morocco.png"}}')">
            <div class="read-next-title">
                Argentina
                <div class="read-next-countdown" data-countdown="March 01 2016"></div>
            </div>
        </a>

    </article>
    {{> "loop"}}
</main>
