{{!< default}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="logo">
        <img src="{{asset "img/logo-white.png"}}" alt="{{@blog.title}}" />
    </div>
</header>

<main id="content" class="content" role="main">
    <article class="read-next map-tags">
        <a class="read-next-story map-tag" href="tag/germany" style="background-image: url('{{asset "img/Germany.png"}}')">
            <div class="read-next-title">
                Germany
                <div class="read-next-countdown" data-countdown="Jan 04 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag"  href="tag/morocco" style="background-image: url('{{asset "img/Morocco.png"}}')">
            <div class="read-next-title">
                Morroco
                <div class="read-next-countdown" data-countdown="Jan 28 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" href="tag/brazil" style="background-image: url('{{asset "img/Brazil.png"}}')">
            <div class="read-next-title">
                Brazil
                <div class="read-next-countdown" data-countdown="Jan 29 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" href="tag/uruguay" style="background-image: url('{{asset "img/Uruguay.png"}}')">
            <div class="read-next-title">
                Uruguay
                <div class="read-next-countdown" data-countdown="Feb 01 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" href="tag/argentina" style="background-image: url('{{asset "img/Argentina.png"}}')">
            <div class="read-next-title">
                Argentina
                <div class="read-next-countdown" data-countdown="March 05 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" style="background-image: url('{{asset "img/Bolivia.png"}}')">
            <div class="read-next-title">
                Bolivia
                <div class="read-next-countdown" data-countdown="April 02 2016"></div>
            </div>
        </a>
        <a class="read-next-story map-tag" style="background-image: url('{{asset "img/Peru.png"}}')">
            <div class="read-next-title">
                Peru
                <div class="read-next-countdown" data-countdown="April 30 2016"></div>
            </div>
        </a>

        <!--Europe-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Portugal.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Turkey-->
                <!--<div class="read-next-countdown" data-countdown="June 4 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/CzechRepublic.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Czech Republic-->
                <!--<div class="read-next-countdown" data-countdown="July 2 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Serbia.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Serbia-->
                <!--<div class="read-next-countdown" data-countdown="July 30 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Croatia.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Croatia-->
                <!--<div class="read-next-countdown" data-countdown="August 27 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!---->
        <!--&lt;!&ndash;Asia&ndash;&gt;-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Malaysia.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Malaysia-->
                <!--<div class="read-next-countdown" data-countdown="September 24 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Thailand.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Thailand-->
                <!--<div class="read-next-countdown" data-countdown="October 29 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Cambodia.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Cambodia-->
                <!--<div class="read-next-countdown" data-countdown="November 26 2016"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="read-next-story map-tag" style="background-image: url('{{asset "img/Vietnam.png"}}')">-->
            <!--<div class="read-next-title">-->
                <!--Vietnam-->
                <!--<div class="read-next-countdown" data-countdown="December 31 2016"></div>-->
            <!--</div>-->
        <!--</a>-->

    </article>
    {{> "loop"}}
</main>
