{{!< default}}

{{#post}}

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=539160566247943";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="main-header post-head" {{#hasImage image}}style="background-image: url({{image}});"{{/hasImage}}>
    {{#hasVideo image}}
        <div class="post-image-overlay" style="background-image: url({{getVideoOverlay image}});"></div>
        <div class="post-image-cover" style="background-image: url({{image}});"></div>
        <video autoplay loop poster="{{image}}" id="post-video" preload>
            <source src="{{getVideoUrl image}}.mp4" type="video/mp4" />
            <source src="{{getVideoUrl image}}.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        </video>
    {{/hasVideo}}

    {{#contentFor "metaTags"}}
        {{#hasVideo image}}
            <meta property="og:video" content="{{getVideoUrl (image absolute="true")}}.mp4"/>
            <meta property="og:video:type" content="video/mp4"/>
        {{/hasVideo}}
    {{/contentFor}}
</header>

<main class="content" role="main">
    {{#if tags}}
        <section class="main-header-tags">
            {{tags separator=""}}
        </section>
    {{/if}}
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <div class="share-button">
                <div class="lid">Share</div>
                <div class="share-items">
                    <a href="#" class="share-item" data-share="facebook">
                        <span class="entypo-facebook"></span>
                    </a>
                    <a href="#" class="share-item" data-share="twitter">
                        <span class="entypo-twitter"></span>
                    </a>
                    <a href="#" class="share-item" data-share="gplus">
                        <span class="entypo-gplus"></span>
                    </a>
                </div>
                <div class="thank-you">
                    Thank you
                </div>
            </div>
        </footer>

        <!--<div id="disqus_thread"></div>-->

        <!--<script type="text/javascript">-->
            <!--var disqus_identifier = '{{post.id}}';-->

            <!--/* * * DON'T EDIT BELOW THIS LINE * * */-->
            <!--(function() {-->
                <!--var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
                <!--dsq.src = '//aintitnice.disqus.com/embed.js';-->
                <!--(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
            <!--})();-->
        <!--</script>-->

        <div class="fb-comments" data-colorscheme="light" data-href="{{url absolute="true"}}"  data-numposts="5" data-width="100%"></div>
    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="8"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="8"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}